/**************************************
 GLOBALS / RESPONSIVE 
 **************************************/

/* 
 * purecss.io mobile-first breakpoints 
 *
 * sm @media screen and (min-width: 35.5em) ≥ 568px .pure-u-sm-* 
 * md @media screen and (min-width: 48em) ≥ 768px .pure-u-md-* 
 * lg @media screen and (min-width: 64em) ≥ 1024px .pure-u-lg-* 
 * xl @media screen and (min-width: 80em) ≥ 1280px .pure-u-xl-*
 */
 
/* 1. default - as defined in global settings */ 

/* 2. sm - small tablet */  
@media screen and (min-width: 35.5rem) { /* >= 568px */ 
   :root {
      /* text */ 
      --text-scale-ratio: var(--base-unit);
   
      /* spacing */ 
      --space-unit: var(--base-unit);
   }
}

/* 3. md - large tablet */ 
@media screen and (min-width: 48rem) { /* >= 768px */ 
   :root {
      /* text */ 
      --text-scale-ratio: calc(var(--base-unit) * 1.1);
   
      /* spacing */ 
      --space-unit: calc(var(--base-unit) * 1.1);
   }

   img.logo {
      width: 16rem;
   }
}

/* 4. lg - desktop */ 
@media screen and (min-width: 64rem) { /* >= 1024px */ 
   :root {
      /* text */ 
      --text-scale-ratio: calc(var(--base-unit) * 1.2);

      /* spacing */ 
      --space-unit: calc(var(--base-unit) * 1.2);
   }

   img.logo {
      width: 18rem;
   }
}
