/**************************************
 GLOBALS / RESPONSIVE 
 **************************************/

/* 
 * purecss.io mobile-first breakpoints 
 *
 * sm @media screen and (min-width: 35.5em) ≥ 568px .pure-u-sm-* 
 * md @media screen and (min-width: 48em) ≥ 768px .pure-u-md-* 
 * lg @media screen and (min-width: 64em) ≥ 1024px .pure-u-lg-* 
 * xl @media screen and (min-width: 80em) ≥ 1280px .pure-u-xl-*
 */
 
/* default - mobile */ 

/* sm - small tablet */  
@media screen and (min-width: 35.5rem) { /* >= 568px */ 
   :root {
      --text-scale-ratio: var(--base-unit);
      --space-unit: var(--base-unit);
   }

   /* minimum page height */
   section.section {
      min-height: 80vh;
   }

   /* splash title */
   /* span.title__word {
      font-size: var(--text-xxl);
   } */
}

/* md - large tablet */ 
@media screen and (min-width: 48rem) { /* >= 768px */ 
   :root {
      --text-scale-ratio: calc(var(--base-unit) * 1.1);
      --space-unit: calc(var(--base-unit) * 1.1);
   }

   /* image carousel */ 
   img.slider__image {
      height: 600px;
   }

   /* let's begin section */ 
   section.section.lets-begin{
      height: 38rem;
   }

   /* minimum page height */
   section.section {
      min-height: 90vh;
   }

   /* splash title */
   span.title__word {
      font-size: var(--text-xxl);
   }

   /* circle animation */ 
   
}

/* lg - desktop */ 
@media screen and (min-width: 64rem) { /* >= 1024px */ 
   :root {
      --text-scale-ratio: calc(var(--base-unit) * 1.2);
      --space-unit: calc(var(--base-unit) * 1.2);
   }

   /* minimum page height */ 
   section.section {
      min-height: 100vh;
   }

   /* image carousel */
   img.slider__image {
      height: 700px; 
   }

   /* let's begin section */ 
   section.section.lets-begin {
      height: 42rem;
   }

   /* splash title */ 
   span.title__word {
      font-size: var(--text-xxxl);
   }
}
