/**************************************
 GLOBALS / UTILITIES
 **************************************/

.container {
   max-width: var(--site-width);
   padding: 0 var(--space-32);
   margin: 0 auto;
}

.display-block { display: block; }
.display-inline-block { display: inline-block; }

