/* globals */ 
/**************************************/ 
/* GLOBALS / GLOBALS 
/**************************************/ 
/**
 * Basic layout of the site, section by section
 * --------------------------------------------
 * 
 * 1. Splash Animation+Introduction 
 * 2. Who We Are 
 * 3. How It Works + Image Carousel 
 * 4. Definition: Happiness 
 * 5. Definition: Happy 
 * 6. Definition: Feeling 
 * 7. Definition: Showing 
 * 8. Definition: Pleasure 
 * 9. Definition: Satisfaction 
 * 10. Definition: Enjoyment 
 * 11. Definition: Contentment 
 * 12. Conclusion: Summary 
 * 13. Conclusion: Wanting something and getting it 
 * 14. Contact Us 15. Rewind
 */ 
:root {
   --base-unit: 1rem; /* 16px per most user default settings */
   
   --site-width: 70rem;
   --text-col-max-width: 40rem;
} 
body {
   background-color: var(--color-white);
   
   /* waiting for custom components to load */ 
   opacity: 0;
} 
/* custom compoents have loaded */ 
body.ready {
   opacity: 1;
   transition: all 0.25s; 
} 
/**************************************
 GLOBALS / TYPOGRAPHY
 **************************************/ 
/**
 * Fonts (both from fonts.google.com) 
 * ----------------------------------  
 * Body: 'Poppins', serif 
 * Headings: 'Playfair Display', sans-serif
 */ 
/**
 * Type scale implementation adapted from: 
 * https://css-tricks.com/building-a-scalable-css-architecture-with-bem-and-utility-classes/ 
 */ 
:root {
   /* mobile-first default size */ 
   --text-scale-ratio: calc(var(--base-unit) * 0.9); 
   
   /* type-scale.com - 1.500 - Perfect Fitth */ 
   --text-xxs:  calc(0.296 * var(--text-scale-ratio));
   --text-xs:   calc(0.444 * var(--text-scale-ratio));
   --text-sm:   calc(0.667 * var(--text-scale-ratio));
   --text-base: calc(1     * var(--text-scale-ratio));
   --text-md:   calc(1.50  * var(--text-scale-ratio));
   --text-lg:   calc(2.25  * var(--text-scale-ratio));
   --text-xl:   calc(3.375 * var(--text-scale-ratio));
   --text-xxl:  calc(5.063 * var(--text-scale-ratio));
   --text-xxxl: calc(7.594 * var(--text-scale-ratio));

   --line-height-xs: 1.05;
   --line-height-sm: 1.2;
   --line-height-sl: 1.4
   --line-height-md: 1.6;
} 
html,
button,
input,
select,
textarea,
.pure-g [class *="pure-u"] {
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
   line-height: var(--line-height-md);
   color: var(--color--main);
} 
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Playfair Display', sans-serif;
   font-weight: 400;
   line-height: var(--line-height-xs);
   color: var(--color-main);
} 
a {
   text-decoration: none;
   color: var(--color--main);
} 
.text-xxxl,
.text-xxl,
.text-xl,
.text-lg,
.text-md,
.text-base,
.text-sm, 
.small,
.text-xs,
.text-xxs {
   line-height: var(--line-height-xs);
} 
.text-xxxl { 
   font-size: var(--text-xxxl);
   letter-spacing: -3px;
} 
.text-xxl { 
   font-size: var(--text-xxl); 
   letter-spacing: -2.5px;
} 
.text-xl { 
   font-size: var(--text-xl); 
   letter-spacing: -1.25px;
} 
.text-lg{ 
   font-size: var(--text-lg);
   letter-spacing: -0.5px;
} 
.text-md { 
   font-size: var(--text-md); 
   letter-spacing: -0.25x;
} 
.text-base { 
   font-size: var(--text-base); 
   /* letter-spacing: -1px; */
} 
.text-sm, small   { font-size: var(--text-sm); } 
.text-xs          { font-size: var(--text-xs); } 
.text-xxs         { font-size: var(--text-xxs); } 
/**************************************
 GLOBALS / SPACING
 **************************************/ 
:root {
   /* mobile-first default size */
   --space-unit: calc(var(--base-unit) * 0.8);
   
   /* spacing system (px) in multiples of 16 */
   --space-2:   calc(var(--space-unit) / 8);
   --space-4:   calc(var(--space-unit) / 4);
   --space-8:   calc(var(--space-unit) / 4 * 2);
   --space-12:  calc(var(--space-unit) / 4 * 3);
   --space-16:  var(--space-unit);
   --space-24:  calc(var(--space-unit) / 2 * 3);
   --space-32:  calc(var(--space-unit) * 2);
   --space-48:  calc(var(--space-unit) * 3);
   --space-64:  calc(var(--space-unit) * 4);
   --space-80:  calc(var(--space-unit) * 5);
   --space-96:  calc(var(--space-unit) * 6);
   --space-112: calc(var(--space-unit) * 7);
   --space-128: calc(var(--space-unit) * 8);
} 
.margin-2   { margin: var(--space-2); } 
.margin-4   { margin: var(--space-4); } 
.margin-8   { margin: var(--space-8); } 
.margin-12  { margin: var(--space-12); } 
.margin-16  { margin: var(--space-16); } 
.margin-32  { margin: var(--space-32); } 
.margin-48  { margin: var(--space-48); } 
.margin-64  { margin: var(--space-64); } 
.margin-80  { margin: var(--space-80); } 
.margin-96  { margin: var(--space-96); } 
.margin-112 { margin: var(--space-112); } 
.margin-128 { margin: var(--space-128); } 
.margin-tp-2   { margin-top: var(--space-2); } 
.margin-tp-4   { margin-top: var(--space-4); } 
.margin-tp-8   { margin-top: var(--space-8); } 
.margin-tp-12  { margin-top: var(--space-12); } 
.margin-tp-16  { margin-top: var(--space-16); } 
.margin-tp-32  { margin-top: var(--space-32); } 
.margin-tp-48  { margin-top: var(--space-48); } 
.margin-tp-64  { margin-top: var(--space-64); } 
.margin-tp-80  { margin-top: var(--space-80); } 
.margin-tp-96  { margin-top: var(--space-96); } 
.margin-tp-112 { margin-top: var(--space-112); } 
.margin-tp-128 { margin-top: var(--space-128); } 
.margin-rt-2   { margin-right: var(--space-2); } 
.margin-rt-4   { margin-right: var(--space-4); } 
.margin-rt-8   { margin-right: var(--space-8); } 
.margin-rt-12  { margin-right: var(--space-12); } 
.margin-rt-16  { margin-right: var(--space-16); } 
.margin-rt-32  { margin-right: var(--space-32); } 
.margin-rt-48  { margin-right: var(--space-48); } 
.margin-rt-64  { margin-right: var(--space-64); } 
.margin-rt-80  { margin-right: var(--space-80); } 
.margin-rt-96  { margin-right: var(--space-96); } 
.margin-rt-112 { margin-right: var(--space-112); } 
.margin-rt-128 { margin-right: var(--space-128); } 
.margin-bm-2   { margin-bottom: var(--space-2); } 
.margin-bm-4   { margin-bottom: var(--space-4); } 
.margin-bm-8   { margin-bottom: var(--space-8); } 
.margin-bm-12  { margin-bottom: var(--space-12); } 
.margin-bm-16  { margin-bottom: var(--space-16); } 
.margin-bm-32  { margin-bottom: var(--space-32); } 
.margin-bm-48  { margin-bottom: var(--space-48); } 
.margin-bm-64  { margin-bottom: var(--space-64); } 
.margin-bm-80  { margin-bottom: var(--space-80); } 
.margin-bm-96  { margin-bottom: var(--space-96); } 
.margin-bm-112 { margin-bottom: var(--space-112); } 
.margin-bm-128 { margin-bottom: var(--space-128); } 
.margin-lt-2   { margin-left: var(--space-2); } 
.margin-lt-4   { margin-left: var(--space-4); } 
.margin-lt-8   { margin-left: var(--space-8); } 
.margin-lt-12  { margin-left: var(--space-12); } 
.margin-lt-16  { margin-left: var(--space-16); } 
.margin-lt-32  { margin-left: var(--space-32); } 
.margin-lt-48  { margin-left: var(--space-48); } 
.margin-lt-64  { margin-left: var(--space-64); } 
.margin-lt-80  { margin-left: var(--space-80); } 
.margin-lt-96  { margin-left: var(--space-96); } 
.margin-lt-112 { margin-left: var(--space-112); } 
.margin-lt-128 { margin-left: var(--space-128); } 
.padding-2   { padding: var(--space-2); } 
.padding-4   { padding: var(--space-4); } 
.padding-8   { padding: var(--space-8); } 
.padding-12  { padding: var(--space-12); } 
.padding-16  { padding: var(--space-16);} 
.padding-32  { padding: var(--space-32); } 
.padding-48  { padding: var(--space-48); } 
.padding-64  { padding: var(--space-64); } 
.padding-80  { padding: var(--space-80); } 
.padding-96  { padding: var(--space-96); } 
.padding-112 { padding: var(--space-112); } 
.padding-128 { padding: var(--space-128); } 
.padding-tp-2   { padding-top: var(--space-2); } 
.padding-tp-4   { padding-top: var(--space-4); } 
.padding-tp-8   { padding-top: var(--space-8); } 
.padding-tp-12  { padding-top: var(--space-12); } 
.padding-tp-16  { padding-top: var(--space-16); } 
.padding-tp-32  { padding-top: var(--space-32); } 
.padding-tp-48  { padding-top: var(--space-48); } 
.padding-tp-64  { padding-top: var(--space-64); } 
.padding-tp-80  { padding-top: var(--space-80); } 
.padding-tp-96  { padding-top: var(--space-96); } 
.padding-tp-112 { padding-top: var(--space-112); } 
.padding-tp-128 { padding-top: var(--space-128); } 
.padding-rt-2   { padding-right: var(--space-2); } 
.padding-rt-4   { padding-right: var(--space-4); } 
.padding-rt-8   { padding-right: var(--space-8); } 
.padding-rt-12  { padding-right: var(--space-12); } 
.padding-rt-16  { padding-right: var(--space-16); } 
.padding-rt-32  { padding-right: var(--space-32); } 
.padding-rt-48  { padding-right: var(--space-48); } 
.padding-rt-64  { padding-right: var(--space-64); } 
.padding-rt-80  { padding-right: var(--space-80); } 
.padding-rt-96  { padding-right: var(--space-96); } 
.padding-rt-112 { padding-right: var(--space-112); } 
.padding-rt-128 { padding-right: var(--space-128); } 
.padding-bm-2   { padding-bottom: var(--space-2); } 
.padding-bm-4   { padding-bottom: var(--space-4); } 
.padding-bm-8   { padding-bottom: var(--space-8); } 
.padding-bm-12  { padding-bottom: var(--space-12); } 
.padding-bm-16  { padding-bottom: var(--space-16); } 
.padding-bm-32  { padding-bottom: var(--space-32); } 
.padding-bm-48  { padding-bottom: var(--space-48); } 
.padding-bm-64  { padding-bottom: var(--space-64); } 
.padding-bm-80  { padding-bottom: var(--space-80); } 
.padding-bm-96  { padding-bottom: var(--space-96); } 
.padding-bm-112 { padding-bottom: var(--space-112); } 
.padding-bm-128 { padding-bottom: var(--space-128); } 
.padding-lt-2   { padding-left: var(--space-2); } 
.padding-lt-4   { padding-left: var(--space-4); } 
.padding-lt-8   { padding-left: var(--space-8); } 
.padding-lt-12  { padding-left: var(--space-12); } 
.padding-lt-16  { padding-left: var(--space-16); } 
.padding-lt-32  { padding-left: var(--space-32); } 
.padding-lt-48  { padding-left: var(--space-48); } 
.padding-lt-64  { padding-left: var(--space-64); } 
.padding-lt-80  { padding-left: var(--space-80); } 
.padding-lt-96  { padding-left: var(--space-96); } 
.padding-lt-112 { padding-left: var(--space-112); } 
.padding-lt-128 { padding-left: var(--space-128); } 
/**************************************
 GLOBALS / COLORS
 **************************************/ 
/** 
 * Colors used in the layout skeleton
 * ----------------------------------
 * 
 * NOTE: Delete prior to deployment
 */ 
:root {
   --color-main:           #171717;
   --color-main-tint-30:   #5d5d5d;
   
   --color-accent:         #9a3412;
   
   --color-accent-tint-10: #a4482a;
   --color-accent-tint-20: #ae5d41;
   --color-accent-tint-30: #b87159;
   --color-accent-tint-40: #c28571;
   --color-accent-tint-50: #cd9a89;
   --color-accent-tint-60: #d7aea0;
   --color-accent-tint-70: #e1c2b8;
   --color-accent-tint-80: #ebd6d0;
   --color-accent-tint-90: #f5ebe7;

   
   /* --color-white:         #fff7ed; experimental bg color */
   
   --color-white:          #ffffff; /* background */
   
   
   /**
    * Skeleton colors. Delete before final deployment
    */
   --color-skeleton-grey-100: #292524;
   --color-skeleton-grey-90:  #3e3b3a;
   --color-skeleton-grey-80:  #545150;
   --color-skeleton-grey-70:  #696666;
   --color-skeleton-grey-60:  #7f7c7c;
   --color-skeleton-grey-50:  #949292;
   --color-skeleton-grey-40:  #a9a8a7;
   --color-skeleton-grey-30:  #bfbebd;
   --color-skeleton-grey-20:  #d4d3d3;
   --color-skeleton-grey-10:  #eae9e9;
   --color-skeleton-grey-00:  #ffffff;
} 
/**************************************
 GLOBALS / RESET
 **************************************/ 
/* Adapted from: https://piccalil.li/blog/a-modern-css-reset/ */ 
/* Box sizing rules */ 
*,
*::before,
*::after {
   box-sizing: border-box;
} 
/* Remove default margin */ 
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
   margin: 0;
} 
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */ 
ul[role='list'],
ol[role='list'] {
   list-style: none;
} 
/* Set core root defaults */ 
html:focus-within {
   scroll-behavior: smooth;
} 
/* Set core body defaults */ 
body {
   min-height: 100vh;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
} 
/* Anchor elements that don't have a class get default styles */ 
a:not([class]) {
   -webkit-text-decoration-skip: ink;
   text-decoration-skip-ink: auto;
} 
/* Make images easier to work with */ 
img,
picture {
   max-width: 100%;
   display: block;
} 
/* Inherit fonts for inputs and buttons */ 
input,
button,
textarea,
select {
   font: inherit;
} 
/**************************************
 GLOBALS / RESPONSIVE 
 **************************************/ 
/* 
 * purecss.io mobile-first breakpoints 
 *
 * sm @media screen and (min-width: 35.5em) ≥ 568px .pure-u-sm-* 
 * md @media screen and (min-width: 48em) ≥ 768px .pure-u-md-* 
 * lg @media screen and (min-width: 64em) ≥ 1024px .pure-u-lg-* 
 * xl @media screen and (min-width: 80em) ≥ 1280px .pure-u-xl-*
 */ 
/* default - mobile */ 
/* sm - small tablet */ 
@media screen and (min-width: 35.5rem) { /* >= 568px */ 
   :root {
      --text-scale-ratio: var(--base-unit);
      --space-unit: var(--base-unit);
   }

   /* minimum page height */
   section.section {
      min-height: 80vh;
   }

   /* splash title */
   /* span.title__word {
      font-size: var(--text-xxl);
   } */
} 
/* md - large tablet */ 
@media screen and (min-width: 48rem) { /* >= 768px */ 
   :root {
      --text-scale-ratio: calc(var(--base-unit) * 1.1);
      --space-unit: calc(var(--base-unit) * 1.1);
   }

   /* image carousel */ 
   img.slider__image {
      height: 600px;
   }

   /* let's begin section */ 
   section.section.lets-begin{
      height: 38rem;
   }

   /* minimum page height */
   section.section {
      min-height: 90vh;
   }

   /* splash title */
   span.title__word {
      font-size: var(--text-xxl);
   }
} 
/* lg - desktop */ 
@media screen and (min-width: 64rem) { /* >= 1024px */ 
   :root {
      --text-scale-ratio: calc(var(--base-unit) * 1.2);
      --space-unit: calc(var(--base-unit) * 1.2);
   }

   /* minimum page height */ 
   section.section {
      min-height: 100vh;
   }

   /* circle on who-we-are page */ 
   div.circle {
      width: 80vw;
      height: 80vw;
      -webkit-transform: translate(-15vw, -3.25vw);
      transform: translate(-15vw, -3.25vw);
   }

   /* image carousel */
   img.slider__image {
      height: 700px; 
   }

   /* let's begin section */ 
   section.section.lets-begin {
      height: 42rem;
   }

   /* splash title */ 
   span.title__word {
      font-size: var(--text-xxxl);
   }
} 
/**************************************
 GLOBALS / UTILITIES
 **************************************/ 
.u-block { display: block; } 
.u-inline-block { display: inline-block; } 
.u-text-center { text-align: center; } 
/* @import './globals/debug.css'; */ 
/* sections */ 
/**************************************/ 
/* SECTIONS / SKELETON                */ 
/**************************************/ 
/** 
 * Classes used in the layout skeleton. 
 * 
 * NOTE: To be deleted prior to final deployment.  
 */ 
:root {
   --test-color-green: green;
} 
.wireframe {
   display: block;
   width: 100%;
   border: 1px solid var(--color-skeleton-grey-50);
   color: var(--color-skeleton-grey-50);
   height: 100vh
} 
.wireframe-title {
   position: absolute;
   top: 0.5rem;
   left: 0.5rem;
} 
/*make purecss grid and unit classes visible */ 
/*
.pure-g {
   box-sizing: border-box;
   border: 1px solid #3b82f6;
}

.pure-g>* {
   box-sizing: border-box;
   border: 1px solid #f59e0b;
}
*/ 
/* ---- sections ---- */ 
/*
.wf-s1-header {
   height: 3.5rem;
   background-color: var(--color-skeleton-grey-40);
   position: fixed;
   top: 0;
}

.wf-s1-splash {
   background-color: var(--color-skeleton-grey-20);
  
}
*/ 
.wf-s2-who-we-are {
   background-color: var(--color-skeleton-grey-10);
} 
.wf-s3-how-it-works {
   background-color: var(--color-skeleton-grey-20);
} 
.wf-s4-defn-happiness {
   background-color: var(--color-skeleton-grey-30)
} 
.wf-s5-defn-happy {
   background-color: var(--color-skeleton-grey-20)
} 
.wf-s6-defn-feeling {
   background-color: var(--color-skeleton-grey-30)
} 
.wf-s7-defn-showing {
   background-color: var(--color-skeleton-grey-20)
} 
.wf-s8-defn-pleasure {
   background-color: var(--color-skeleton-grey-30)
} 
.wf-s9-defn-satisfaction {
   background-color: var(--color-skeleton-grey-20)
} 
.wf-s10-defn-enjoyment {
   background-color: var(--color-skeleton-grey-30)
} 
.wf-s11-defn-contentment {
   background-color: var(--color-skeleton-grey-20)
} 
.wf-s12-summary {
   background-color: var(--color-skeleton-grey-30)
} 
.wf-s13-conclusion {
   background-color: var(--color-skeleton-grey-20)
} 
.wf-s14-contact-us {
   background-color: var(--color-skeleton-grey-30)
} 
.wf-s15-rewind {
   background-color: var(--color-skeleton-grey-20)
} 
/*
.height-2
.height-4
.height-8
.height-12
.height-16
.height-32
.height-64
.height-96
.height-128
.height-160
.height-192
.height-224
.height-256
.height-288
.height-320
.height-352
.height-416
.height-448
.height-480
*/ 
.height-512 { height: calc(var(--space-unit) * 51.2) } 
.height-576 { height: calc(var(--space-unit) * 57.6) } 
.height-640 { height: calc(var(--space-unit) * 64.0) } 
.height-704 { height: calc(var(--space-unit) * 70.4) } 
.height-768 { height: calc(var(--space-unit) * 76.8) } 
.height-832 { height: calc(var(--space-unit) * 83.2) } 
.height-896 { height: calc(var(--space-unit) * 89.6) } 
.height-960 { height: calc(var(--space-unit) * 96.0) } 
/**************************************/ 
/* SECTION / MENU                     */ 
/**************************************/ 
.header {
   position: fixed;
   width: 100%;
   z-index: 10;
   pointer-events: none;
} 
.progress-bar {
   --track-color: none;
   --indicator-color: var(--color-accent);
} 
.progress-bar::part(base) {
   border-radius: 0;
} 
.header__inner {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   position: relative;  
} 
/* svg logo sized proportional to viewport width 
*/ 
.logo {
   display: inline-block;
   margin: var(--space-8) var(--space-12) 0;
   width: 40vw;
   height: auto;

   /* animation */ 
   transition: -webkit-transform 1s; 
   transition: transform 1s; 
   transition: transform 1s, -webkit-transform 1s;
   -webkit-transform: translateX(0);
   transform: translateX(0);
} 
.header__link {
   margin: 0 var(--space-16);
   margin-bottom: var(--space-4);
   pointer-events: auto;

   /* animation */ 
   transition: -webkit-transform 1s; 
   transition: transform 1s; 
   transition: transform 1s, -webkit-transform 1s;
   -webkit-transform: translateX(0);
   transform: translateX(0);
} 
/* move the header elements out of the way on user scroll
*/ 
.has-scrolled .logo {
   -webkit-transform: translateY(-100%);
   transform: translateY(-100%);
   transition: all 0.6s;
   opacity: 0;
} 
.has-scrolled .header__link {
   -webkit-transform: translateY(-100%);
   transform: translateY(-100%);
   transition: all 0.6s;
   opacity: 0;
} 
/**************************************/ 
/* SECTION / SPLASH                   */ 
/**************************************/ 
.splash {
   /* splash screen maintains this min-height across all breakpoints */ 
   min-height: 100vh;

   display: flex;
   flex-direction: column;
} 
.splash__inner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 50vh;
} 
.title {
   position: relative;
   margin-bottom: calc( var(--space-128) * 1.75 );

   -webkit-perspective: 1500px;

   perspective: 1500px;
} 
.title__word,
.subtitle,
.scroll-indicator {
   opacity: 0;
} 
.title__word {
   font-size: var(--text-xxl);
   line-height: var(--line-height-xs);
   text-align: center;
   font-weight: 400;
   pointer-events: none;

   display: block;
   position: absolute;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
} 
.title__word--1 { z-index: 10; color: var(--color-main); } 
.title__word--2 { z-index:  9; color: var(--color-accent); } 
.title__word--3 { z-index:  8; color: var(--color-accent-tint-10); } 
.title__word--4 { z-index:  7; color: var(--color-accent-tint-20); } 
.title__word--5 { z-index:  6; color: var(--color-accent-tint-30); } 
.title__word--6 { z-index:  5; color: var(--color-accent-tint-40); } 
.title__word--7 { z-index:  4; color: var(--color-accent-tint-50); } 
.title__word--8 { z-index:  3; color: var(--color-accent-tint-60); } 
.subtitle {
   max-width: 50rem;
   text-align: center;
   line-height: var(--line-height-sl);
   margin-bottom: var(--space-64);
   pointer-events: none;
} 
.subtitle a {
   pointer-events: auto;
} 
/* scroll indicator icon
 */ 
.scroll-indicator__icon {
   font-size: var(--text-lg);
   transition: all 0.3s;
   color: var(--color-accent);
} 
.scroll-indicator__icon:hover {
   color: var(--color-main);
} 
/**************************************/ 
/* SECTION / SECTION
/**************************************/ 
.circle {
   width: 100vw;
   height: 100vw;
   border: 2px solid var(--color-accent-tint-40);
   border-radius: 50%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -10;
   -webkit-transform: translate(-30vw, -7.5vw);
   transform: translate(-30vw, -7.5vw);
} 
/**************************************/ 
/* SECTIONS | DEFINITIONS
/**************************************/ 
/* * * * * * * * * * * * * * * * * * */ 
/* Section | How It Works            */ 
/* * * * * * * * * * * * * * * * * * */ 
/* components */ 
/**************************************/ 
/* COMPONENT / SECTION
/**************************************/ 
/**
------------------------------------
Container and pure-g layout template
------------------------------------

<!-- image column -->
<div class="pure-u-1 pure-u-sm-4-24  pure-u-md-7-24  pure-u-lg-8-24">
</div>

<!-- content column --> 
<div class="pure-u-1 pure-u-sm-19-24 pure-u-md-15-24 pure-u-lg-13-24">
</div>

<!-- aside column --> 
<div class="pure-u-1 pure-u-sm-1-24  pure-u-md-2-24  pure-u-lg-3-24">
</div>

*/ 
.container {
   max-width: var(--site-width);
   padding: 0 var(--space-16);
   margin: 0 auto;
   /* background-color: darkgrey; */
} 
.section {
   /* resoponsive: increases up to 100vh */ 
   min-height: 70vh;

   display: flex;
   flex-direction: column;
   justify-content: center;
   
   /* border: 1px solid burlywood; */
} 
/* column one */ 
.image-col {
   /* height: 100vh; */
   /* background-color: rgb(228, 227, 207);  */
   /* border: 1px dashed rgb(196, 195, 195); */

   position: relative;
} 
/* --- column two --- */ 
.text-col {
   /* height: 100vh; */

   /* width: 100%; */

   /* display: flex;
   flex-direction: column;
   justify-content: center; */

   /* border: 1px dashed rgb(196, 195, 195) */
   /* background-color: rgb(192, 191, 176);   */
} 
/* column three */ 
/* .aside-col { background-color: rgb(160, 159, 147); } */ 
/**************************************/ 
/* COMPONENTS / TEXT
/**************************************/ 
/* --- underline animation --- */ 
.link:link,
.link:visited {
   display: inline-block;
   position: relative;
   color: var(--color-accent);
   /* padding: 0 var(--space-4) */
} 
.link::after {
   display: block;
   position: absolute;
   content: "";
   background-color: rgba(154, 52, 18, 0.50);
   width: 102%;
   -webkit-transform: translateX(-1%) translateY(-110%);
   transform: translateX(-1%) translateY(-110%);
   transition: height 0.3s ease;
   height: 1px;
} 
.link:hover::after,
.link:active::after {
   height: var(--space-12);
} 
/* move the arrow to the right on hover */ 
.text__link.link:hover ~ .text__i-arrow {
   /* transform: translateX(100%); */
   -webkit-transform: translate(1.1rem, 0.3rem);
   transform: translate(1.1rem, 0.3rem);
   
} 
/* --- text component --- */ 
/* wraps text in subtle background gradient */ 
div.text-wrapper {
   padding: var(--space-32);
   background-color: rgba(154, 52, 18, 0.15);
   background: linear-gradient(300deg, rgba(154, 52, 18, 0.15) 0%, rgba(154, 52, 18, 0) 100%);
   width: 100%;

   position: relative;
   overflow: hidden;
} 
.bold {
   position: relative;
   color: var(--color-accent);
   font-weight: 500;
   -webkit-transform: scaleY(1.1);
   transform: scaleY(1.1);
} 
.period {
   color: var(--color-accent);
   font-size: 1.2em;
} 
.text__heading--mask {
   overflow: hidden;
} 
.text__heading {
   /* note: font size provided by a utility class */ 
   margin-bottom: var(--space-12);
} 
/* paragraphs are the only type style with an inherent font size
 * everything else requires an utility class
 */ 
.text__p {
   font-size: var(--text-base);
   letter-spacing: 0.25px;
   margin-bottom: var(--space-12);

   position: relative;
} 
/* add a little extra space between the text sub-sections */ 
.text__p ~ .text__heading {
   margin-top: var(--space-24);
} 
.text__link {
   padding: 0;
   margin: 0;
   margin-left: var(--space-32);
} 
.text__i-arrow {
   display: inline-block;
   color: var(--color-accent);
   font-size: 1.2em;

   position: relative;
   -webkit-transform: translate(0.2rem, 0.3rem);
   transform: translate(0.2rem, 0.3rem);
   transition: all 0.3s ease-in-out;
} 
/**************************************/ 
/* COMPONENT / CAROUSEL
/**************************************/ 
/**
 * https: //github.com/ganlanyuan/tiny-slider
 */ 
.slider {
   margin: var(--space-32);
} 
.slider__image {
   height: 500px;
   /* width: auto; */
   -webkit-filter: grayscale(0.8) brightness(1.2) contrast(1.2);
   filter: grayscale(0.8) brightness(1.2) contrast(1.2);
   display: inline-block;
   
} 
/** 
 * hide the slider 'stop' button (that by all other means has refused
 * to go away) 
 */ 
#tns1-ow > button {
   display: none;
} 
/**************************************/ 
/* COMPONENT / MARQUEE
/**************************************/ 
.smq {
   line-height: 1.25;
   margin: var(--space-24);

}
