/**************************************/
/* COMPONENT / MARQUEE
/**************************************/

.smq-wrapper {
   width: 100%;
   overflow: hidden;
}

.smq {
   line-height: 1.25;
   margin: var(--space-24);
}

.mq-level-1 {

}

.mq-level-2 {

}

.mq-level-3 {
   
}

.mq-level-4 {

}

.mq-level-5 {

}
