/**************************************/
/* COMPONENTS / TEXT
/**************************************/


/* --- underline animation --- */

.link:link,
.link:visited {
   display: inline-block;
   position: relative;
   /* padding: 0 var(--space-4) */
}

.link::after {
   display: block;
   position: absolute;
   content: "";
   background-color: rgba(154, 52, 18, 0.50);
   width: 110%;
   transform: translateX(-5%) translateY(-110%);
   transition: height 0.3s ease;
   height: 0;
}

.link:hover::after,
.link:active::after {
   height: var(--space-12);
}


/* --- text component --- */ 

/* wraps text in subtle background gradient */
.text-wrapper {
   padding: var(--space-32);
   background-color: rgba(154, 52, 18, 0.15);
   background: linear-gradient(300deg, rgba(154, 52, 18, 0.15) 0%, rgba(154, 52, 18, 0) 100%);

   position: relative;
}

.bold {
   color: var(--color-accent);
   font-weight: 500;
}

.period {
   color: var(--color-accent);
   font-size: 1.2em;
}

/* headings require a size utility class */ 
.text__heading {
   margin-bottom: var(--space-12);
}

/* paragraphs are sized here */ 
.text__p {
   font-size: var(--text-base);
   letter-spacing: 0.25px;
   margin-bottom: var(--space-12);

   position: relative;
}

/* add a little extra space between the text sections */
.text__p ~ .text__heading {
   margin-top: var(--space-24);
}

.text__link {
   color: var(--color-accent);
   padding: 0;
   margin: 0;
   margin-left: var(--space-32);
}

.text__i-arrow {
   display: inline-block;
   color: var(--color-accent);
   font-size: 1.2em;

   position: relative;
   transform: translate(0.2rem, 0.3rem);
}