/**************************************/
/* SECTION / MENU                     */
/**************************************/

.header {
   position: fixed;
   width: 100%;
   z-index: 10;
}

.progress-bar {
   --track-color: none;
   --indicator-color: var(--color-accent);
}

.progress-bar::part(base) {
   border-radius: 0;
}

.header__inner {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   position: relative;  
}

/* svg logo sized proportional to viewport width 
*/ 
.logo {
   display: inline-block;
   margin: var(--space-8) var(--space-12) 0;
   width: 40vw;
   height: auto;

   /* animation */ 
   transition: transform 1s;
   transform: translateX(0);
}

.header__link {
   margin: 0 var(--space-16);
   margin-bottom: var(--space-4);
   
   /* animation */ 
   transition: transform 1s;
   transform: translateX(0);
}

/* move the header elements out of the way on user scroll
*/
.has-scrolled .logo {
   transform: translateY(-100%);
   transition: all 0.6s;
   opacity: 0;
}

.has-scrolled .header__link {
   transform: translateY(-100%);
   transition: all 0.6s;
   opacity: 0;
}





