/**************************************/
/* COMPONENT / SECTION
/**************************************/

/*
--------------------------------------------
Container and pure-g HTML 3-column template
--------------------------------------------
<!-- image column -->
<div class="pure-u-1 pure-u-sm-4-24  pure-u-md-7-24  pure-u-lg-8-24">
</div>

<!-- content column --> 
<div class="pure-u-1 pure-u-sm-19-24 pure-u-md-15-24 pure-u-lg-13-24">
</div>

<!-- aside column --> 
<div class="pure-u-1 pure-u-sm-1-24  pure-u-md-2-24  pure-u-lg-3-24">
</div>
*/

.container {
   max-width: var(--site-width);
   padding: 0 var(--space-16);
   margin: 0 auto;
}

.section {
   /* resoponsive: increases up to 100vh */
   min-height: 70vh;

   display: flex;
   flex-direction: column;
   justify-content: center;

   /* border: 1px solid burlywood; */
}

/* column one */
.image-col {
   position: relative;
   height: 100%;
}

/* column two */
.text-col { 
   position: relative;
   height: 100%;
}

/* column three */
.aside-col {  
   position: relative;
   height: 100%;
}

/* Circle Animation
 */



