/**************************************/
/* SECTION / SPLASH                   */ 
/**************************************/

.splash {
   /* splash screen maintains this min-height across all breakpoints */ 
   min-height: 100vh;

   display: flex;
   flex-direction: column;
}

.splash__inner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 50vh;
}

.title {
   position: relative;
   margin-bottom: var(--space-128);
}

.title__word {
   font-size: var(--text-xxl);
   line-height: var(--line-height-xs);
   text-align: center;
   font-weight: 400;

   display: block;
   position: absolute;
   transform: translate(-50%, -50%);
}

.title__word--1 { color: var(--color-main); }
.title__word--2 { color: var(--color-accent); }
.title__word--3 { color: var(--color-accent-tint-10); }
.title__word--4 { color: var(--color-accent-tint-20); }
.title__word--5 { color: var(--color-accent-tint-30); }
.title__word--6 { color: var(--color-accent-tint-40); }
.title__word--7 { color: var(--color-accent-tint-50); }
.title__word--8 { color: var(--color-accent-tint-60); }

.subtitle {
   max-width: 50rem;
   text-align: center;
   line-height: var(--line-height-sl);
   margin-bottom: var(--space-64);
}

/* scroll indicator icon
 */
 .scroll-indicator {
 }
.scroll-indicator__icon {
   font-size: var(--text-lg);
   transition: all 0.3s;
   color: var(--color-accent);
}

.scroll-indicator__icon:hover {
   color: var(--color-main);
}

