/**************************************/
/* SECTION / SPLASH                   */ 
/**************************************/

.splash {
   /* splash screen maintains this min-height across all breakpoints */ 
   min-height: 100vh;

   display: flex;
   flex-direction: column;
}

.splash__inner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 50vh;
}

.title {
   position: relative;
   margin-bottom: calc( var(--space-128) * 1.75 );

   perspective: 1500px;
}

.title__word,
.subtitle,
.scroll-indicator {
   opacity: 0;
}

.title__word {
   font-size: var(--text-xxl);
   line-height: var(--line-height-xs);
   text-align: center;
   font-weight: 400;
   pointer-events: none;

   display: block;
   position: absolute;
   transform: translate(-50%, -50%);
}

.title__word--1 { z-index: 10; color: var(--color-main); }
.title__word--2 { z-index:  9; color: var(--color-accent); }
.title__word--3 { z-index:  8; color: var(--color-accent-tint-10); }
.title__word--4 { z-index:  7; color: var(--color-accent-tint-20); }
.title__word--5 { z-index:  6; color: var(--color-accent-tint-30); }
.title__word--6 { z-index:  5; color: var(--color-accent-tint-40); }
.title__word--7 { z-index:  4; color: var(--color-accent-tint-50); }
.title__word--8 { z-index:  3; color: var(--color-accent-tint-60); }

.subtitle {
   max-width: 50rem;
   text-align: center;
   line-height: var(--line-height-sl);
   margin-bottom: var(--space-64);
   pointer-events: none;
}

.subtitle a {
   pointer-events: auto;
}

/* scroll indicator icon
 */
 .scroll-indicator__icon {
   font-size: var(--text-lg);
   transition: all 0.3s;
   color: var(--color-accent);
}

.scroll-indicator__icon:hover {
   color: var(--color-main);
}

